@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App{
  background:#9bb9c4;
  color:#fff;
  font-family: 'Noto Sans', sans-serif;
}

.close{
  padding: 8px 20px;
  position: fixed;
  top:10px;
  right:10px;
  background-color: rgb(1, 204, 1);
}

.wrapper{
  width: 100%; 
  background-color: #333;
}

.error{
  padding: 14px 0;
  max-width: 540px;
  margin: 0 auto;
  margin-bottom: 1.0rem;
  background-color: rgba(153, 66, 51, 0.452);
}

.error span{
  display: block;
  padding: 8px 0;
}

.newsletter{
  padding:20px 0;
  text-align:center;
}

h2{
  font-size: 30px;
  font-family: 'Marck Script', sans-serif;
}

h2 a{
  margin-left: 16px;
  color: #9bb9c4;
}

input, button{
	display:inline-block;
	outline:none;
	padding: 9px 18px;
	margin-right: 2px;
  border: none;
  font-style: italic;
}

form{
  margin-bottom: 16px;
}

.new-user form{
  margin: 50px;
}

form span{
  margin-right: 10px;
}

button img{
  width: 18px;
  margin-left:10px;
}

.buttons-sort{
  margin: 20px;
}

button:hover{
  background:rgb(33, 142, 161);
}


input{
  width: 12%;
  background-color: #7ec4ce;
  font-style: italic;
}

input[placeholder] {
  color: #01353d;
}

button {
  padding: 9px 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
	color: #fff;
  background-color: #7ec4ce;
}	



/* Mobile
---------------------------------- */
@media screen and (min-width:240px) and (max-width:615px) {
	
	input, button{
	display: block;
	margin: 10px auto;
}
	
	input{min-width:220px;}
	
}